.header{
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: inherit;
  border-bottom: 1px solid rgba(34, 34, 34, 0.075);
}
html,body{
  margin: 0;
  padding: 0;
  width: 100%;  
  height: 100%;
}
.topBar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #EB4C6B;
    font-size: 12px;
    max-height: 24px;
    background-color: #000000;
}

.topBarItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hideOnMobile {
    display: none;
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.mainHeader h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}
.searchContainer{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}
.hamburgerIcon {
  display: block;
  cursor: pointer;
}

.languageIcon {
  display: none;
}

.searchContainer img,
.logoContainer img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.mainNav {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333; 
  padding: .5rem;   
}
.mainNav.mobileMenuOpen {
  display: flex;
}
@media (min-width: 768px) {
    .topBar {
      justify-content: space-around;
      max-height: 32px;
    }
    
    .hideOnMobile {
      display: flex;
    }
    .hamburgerIcon {
      display: none;
    }
    .mainHeader{
  padding: 2rem 2rem 1rem;

    }
    .mainHeader h2 {
      font-size: 2.75rem;
    }
    .languageIcon {
      display: block;
    }
    .searchContainer img,
.logoContainer img {
  width: 36px;
  height: 36px;
}
.mainNav {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #333; 
  padding: 1rem;  
}
}