.breadcrumps{
    font-weight: 400;
    text-transform: uppercase;
    padding: 1rem   ;
    font-size: .75rem;
}
.breadcrumps span{
    opacity: 0.5;
    font-size: .75rem;
}

.heroContent{
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding:1rem;
}
.heroContent h1{
    font-size: 1.3rem;
}
.heroContent p{
    font-size: 16px;
    max-width: 750px;
    line-height: 1.5;
}

@media (min-width: 768px) {
    .breadcrumps{
        display: none;
    }
    .heroContent{
        padding: 2.5rem 1rem;
    }
    .heroContent h1{
        font-size:2.5rem;
        font-weight: 400;
    }
    .heroContent p{
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 1024px) {
    .heroContent{
        padding: 3.5rem 1rem;
    }
    .heroContent h1{
        font-size:3.75rem;
    }
}
    