.filterToggle {
    display: flex;
    border-bottom: 1px solid rgba(34, 34, 34, 0.075);
    border-top: 1px solid rgba(34, 34, 34, 0.075);
    padding: 0.7rem 1rem;
    margin: 0rem;
    font-weight: bold;
}

.filterToggleLeft, 
.filterToggleRight {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}

.filterToggleLeft {
    border-right: 1px solid rgba(34, 34, 34, 0.075);
    position: relative;
}
.filterToggleLeft:first-child{
    cursor:auto;
}

.filterToggleLargeScreen {
    display: none;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0 1rem;
}

.mobileFilter {
    display: block;
    margin: 0;
}

.chevron {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1;
    transition: transform 0.3s ease;
    margin-right: 0.5rem;
    transform: rotate(0deg);
}

.rotated {
    transform: rotate(90deg);
}
.showFilter {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 0 0 0 1rem;
    cursor: pointer;
}


@media (min-width: 768px) {
    .filterToggle{
        margin: 0 2rem;
    }
    .filterToggleLargeScreen {
        display: flex;
    }
    .mobileFilter {
        display: none;
    }
    .filterToggleRight{
        justify-content: flex-end;
    }
}