.mainContent {
    display: flex;
    position: relative;
    width: 100%;
    /* min-height: 100vh; */
  }
  
  .sidebarContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-start;
  }
  
  .contentArea {
    flex: 1;
    transition: margin 0.3s ease;
  }
  
  @media (min-width: 768px) {
    .sidebarContainer {
      position: static;
      background: transparent;
      width: 300px;
      min-width: 300px;
      height: auto;
    }
  
    .contentArea.sidebarOpen {
      width: calc(100% - 300px);
    }
  }